body
{
	background-image: url("52853.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 1540px 950px;
	background-attachment: fixed;	
	opacity:;
}
form
{
	background: rgba(0,0,0,0.3);
	border: 2px solid white;
	border-radius: 10px;
	width: 500px;
	height: 500px;
	margin: auto;
	margin-top: 80px;
	padding: 20px;
	padding-left: 10px;
	line-height: 30px;
	text-align: ;  
	color: white;
	font-family: 'Orbitron', sans-serif;

}
 
.box1 label
{
	position: absolute;
	left:530px;
	font-size: 20px;
	text-align: center;
}
.box1 input
{
	position: absolute;
	left:680px;
	height: 25px;
	width: 300px;
}
.box2  
{
	position: absolute;
	left: 530px;
	top:450px;
	font-size: 20px;	
}
.box3
{
	position: absolute;
	left: 530px;
	top: 500px;
	line-height: 30px;
	font-size: 20px;
}	
.box3 input
{
	height: 25px;
}
.pn
{
	width:50px;
	height: 25px;
}
.email input
{
	height: 25px;
	width: 300px;
}
.messi
{
	position: absolute;
	top: 200px;
	left: 50px;
}
.submit
{
	position: absolute;
	left: 200px;
	top: 170px;
}
.submit button
{
	height: 35px;
	width: 100px;
	border:1px solid white;
	border-radius: 10px;
	font-size: 20px;
	background-color: rgba(255,255,255,0.3);
}
.submit button:hover
{
	
	font-size: 20px;
	background-color: rgba(0,0,0,0.3);
	color: white;
}

 

.messi img
{
	height: 500px;
	width: 400px;
	position: fixed;
}

.fcblogo img
{
	height:100px;
	width:100px;
	position: absolute;
	top: 50px;
	left: 500px;

}


